<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="job-form__title">{{title}}</h1>
            <form action="#" class="job-form__form">
                <div class="job-form__form-row">
                    <div class="job-form__form-cell job-form__form-cell_3">
                        <div class="form-group animated-input__group">
                            {{input name="name" value=name class="form-control animated-input__input" keyPress=(action 'inputChanged' 'name')}}
                            <label class="control-label animated-input__label">Фамилия, Имя, Отчество</label>
                        </div>
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        <div class="form-group animated-input__group">
                            {{input name="email" value=email type="email" class="form-control animated-input__input" keyPress=(action 'inputChanged' 'email')}}
                            <label class="control-label animated-input__label">E-mail</label>
                        </div>
                    </div>
                    <div class="job-form__form-cell job-form__form-cell_3">
                        <div class="form-group animated-input__group">
                            {{input name="phone" value=phone type="phone" class="form-control animated-input__input" keyPress=(action 'inputChanged' 'phone')}}
                            <label class="control-label animated-input__label">Телефон</label>
                        </div>
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        <div class="form-group animated-input__group">
                            {{textarea name="letter" value=letter class="form-control job-form__form-textarea animated-input__input" keyPress=(action 'inputChanged' 'letter')}}
                            <label class="control-label animated-input__label">Сопроводительное письмо</label>
                        </div>
                    </div>
                </div>
                <div class="job-form__form-row">
                    <div class="job-form__form-cell">
                        <div class="job-form__add-doc">
                            <span class="job-form__add-doc-icon"></span>
                            <div class="job-form__add-doc-name">
                                <a href="#" class="job-form__add-doc-link">Прикрепите файлы</a>, если считаете нужным
                                <br> (Ваше резюме, рекомендации и т.д.)
                            </div>
                        </div>
                    </div>
                    <div class="job-form__form-cell text-right">
                        <button class="btn btn-primary" type="sumbit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
