<div class="row">
    {{#each projects as |project| }}
        <div class="col-md-6">
            <div class="project">
                <img src="{{project.imgSrc}}" alt="{{project.imgAlt}}" class="project-image">
                <div class="project-info">
                    <h2 class="project-header">{{project.name}}</h2>
                    <div class="project-description">{{project.description}}</div>
                    <div class="project-footer">
                        <div class="project-expiration">Срок сдачи: {{moment-format project.expiration 'MMMM YYYY' 'DD.MM.YYYY'}}</div>
                        <div class="project-address">
                            <span class="project-address-pin"></span>
                            <span>{{project.address}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
