{{project-docs-item}} {{project-docs-item}} {{project-docs-item}} {{project-docs-item}} {{project-docs-item}}
<div class="project-info__docs-show">
    <a href="#" class="project-info__docs-show-link">Показать ещё Х документов</a>
</div>
