<div class="team-member">
    <div class="team-member__image">
        <img src="{{imgSrc}}" alt="">
    </div>
    <div class="team-member__name">{{name}}</div>
    <div class="team-member__position">{{position}}</div>
    <div class="team-member__expand team-member__expand_close" {{action "toggleInfo"}}></div>
    <div class="team-member__info">
        {{yield}}
    </div>
</div>
