<div class="project-info">
    <div class="container">
        <div class="project-info__logo">
            <img class="project-info__logo-image" src="/assets/images/projects/atlantida/logo-atlantida.svg" alt="">
            <div class="project-info__logo-controls">
                <button class="btn btn-default" type="button">Выбрать квартиру</button>
                <div class="project-info__logo-address">
                    <span class="project-info__logo-address-pin"></span>
                    <small>{{model.addressShort}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="project-info__carousel">
        {{project-carousel}}
    </div>
    <div class="container">
        <div class="project-info__tabs">
            {{project-tabs buildingCount=model.buildingCount flatCount=model.flatCount floorCount=model.floorCount roomCount=model.roomCount apartmentSize=model.apartmentSize price=model.price}}
        </div>
    </div>
    <div class="container">
        <div class="project-info__hero-text">
            <h1 class="project-info__hero-text-title">Ваш остров комфорта</h1>
            <p class="project-info__hero-text-p">Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текsdfsdfста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 стрsdfsdfок Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текsdfsdfста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пsdfsdfикселей 9 строк Много текста 20 пиксsdfdsfелей 9 строк Много текста 20 пиксеsdfdsfлей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк Много текста 20 пикселей 9 строк </p>
        </div>
    </div>
    <div class="project-info__hero-image">
        <h2>Выберите ваш будущий дом</h2>
        <img class="project-info__hero-image-img" src="/assets/images/projects/atlantida/atlantida-genplan@2x.png" alt="">
    </div>
    <div class="container">
        <div class="project-info__params-grid">
            {{project-params-grid}}
        </div>
    </div>
    <div class="container">
        <div class="project-info__docs">
            <h4 class="project-info__docs-title">Документация по объекту</h4> {{project-docs}}
        </div>
    </div>
    <div class="project-info__map">
        {{project-map lat=61.698986 lng=50.8046383 zoom=15}}
    </div>
</div>
