<div class="project-info">
    <div class="container">
        <div class="project-info__logo">
            <img class="project-info__logo-image" src="/assets/images/projects/atlantida/logo-atlantida.svg" alt="">
            <div class="project-info__logo-controls">
                <button class="btn btn-default" type="button">Выбрать квартиру</button>
                <div class="project-info__logo-address">
                    <span class="project-info__logo-address-pin"></span>
                    <small>{{model.addressShort}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="project-info__carousel">
        {{project-info/carousel}}
    </div>
    <div class="container">
        <div class="project-info__tabs">
            {{project-info/tabs}}
        </div>
    </div>
    <div class="project-info__hero-text">
        {{project-info/hero-text}}
    </div>
    <div class="project-info__hero-image">
        {{project-info/hero-image}}
    </div>
    <div class="project-info__params-grid">
        {{project-info/params-grid}}
    </div>
    <div class="project-info__docs">
        {{project-info/docs}}
    </div>
    <div class="project-info__map">
        {{project-info/map}}
    </div>
</div>
