<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <h1 class="team__title">Действующие лица</h1>
                <h3 class="team__introduction">
				Задача организации, в особенности же сложивашаяся структура организации играет важную роль в формировании
			</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д. Информация об образовании и т.д. Информация об образовании и т.д. Информация об образовании и т.д. Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
            <div class="col-md-4">
                {{team-member imgSrc="#" name="Имя Фамилия" position="Должность" info="Информация об образовании и т.д."}}
            </div>
        </div>
    </div>
</div>
