<div class="news-info container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h1 class="news-info__label">{{model.newsItem.label}}</h1>
            <div class="news-info__breef">
                <div class="news-info__breef-item">
                    <span class="icons icons_clock"></span>
                    <span class="news-info__expiration">{{moment-format model.newsItem.publDate 'DD MMMM YYYY' 'DD.MM.YYYY'}}</span>
                </div>
                <div class="news-info__breef-item">
                    <span class="badge badge_action">Акция</span>
                </div>
                <div class="news-info__breef-item">
                    1—7 марта
                </div>
            </div>
            <h4 class="news-info__offer">{{model.newsItem.offer}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="{{model.newsItem.imgSrc}}" alt="{{model.newsItem.name}}" class="news-info__image">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <p class="news-info__description">{{model.newsItem.description}}</p>
            <p>Узнайте подробности у специалистов <a href="#">отдела продаж</a> по телефону</p>
        </div>
    </div>
</div>
<div class="index__news">
    <h1>Новости</h1> {{news-grid news=model.news}}
</div>
